.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    background-color: #989494;
    border: 1px solid #1c1919;
    cursor: pointer;
}
